.user-layout {
    display: flex;
    flex-direction: column;
    margin: 0rem;
}

.admin-layout {
    display: flex;
    flex-direction: column;
    margin: 0rem;


}

.guest-layout{
    margin: 0rem;
}

.header-links{
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #424141;
    color: white;
    justify-content: space-between;
    padding: 1rem;
    

}


.header-links>.header-right>a{
    color: white;
    padding-left: 0.3rem;
    text-decoration: none;
    

}

.header-links>.header-right>p{
    display: inline;

}

.website-name, .credits{
    margin: 0;
}

.login-form, .resource-group-form, .resource-form, .bookings-form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    justify-content: center;
    border-style: solid;
    border-color: #424141;
    padding: 2rem;
    border-radius: 1.5rem;

}

.resource-group-form > input, .resource-form > input, .resource-form> select ,.bookings-form>select, .bookings-form>input{
    margin-bottom: 0.5rem;

}
.resource-group-form>button, .resource-form>button, .bookings-form>button{
    margin-top: 1rem;
}

.login, .resource-group, .resource{
    display: flex;
    justify-content: center;
    padding-top: 10rem;  
}



.registration{
    display: flex;
    justify-content: center;
    padding-top: 10rem;  


}
.registration-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    border-style:solid;
    border-color: #424141;
    border-radius: 1.5rem;
    padding: 2rem;
}

.registration-form>input, .login-form> input{
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    padding: 0.2rem;

}

.registration-form>button, .login-form>button{
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem; 
}
.registration-form>button:hover, .login-form>button:hover{
    background-color: #c3c4c7;
    
}



.request{
    display: flex;
    justify-content: center;
    padding-top: 10rem;  

}

.request-form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    border-style:solid;
    border-color: #424141;
    border-radius: 1rem;
    padding: 2rem;

}

.request-form>input{
    margin-bottom: 1rem;

}


.listed-bookings,.change-resources, .list-users, .requests-container, .completed-requests-container{
    display: flex;
    justify-content: center;
    padding-top: 10rem;  
    
}

  

.change-resources > table,.resources-table>thead > tr>th,.resources-table> tbody >tr> td {
    border: solid  #424141;
    border-collapse: collapse;
    padding: 1rem;

    border-radius: 1.5rem;


  }

  .listed-bookings > table,.list-users > table,.users-table>thead > tr>th,.users-table> tbody >tr> td {
    border: solid  #424141;
    border-collapse: collapse;
    padding: 1rem;

    border-radius: 1.5rem;


  }

  .listed-bookings-table> thead> tr > th, .listed-bookings-table> tbody > tr > td{
    border: solid  #424141;
    border-collapse: collapse;
    padding: 1rem;

    border-radius: 1.5rem;
  }

  


  .completed-requests-container > table,.completed-requests-table>thead > tr>th,.completed-requests-table> tbody >tr> td {
    border: solid  #424141;
    border-collapse: collapse;
    padding: 1rem;

    border-radius: 1.5rem;


  }

  .requests-container > table,.requests-table>thead > tr>th,.requests-table> tbody >tr> td {
    border: solid  #424141;
    border-collapse: collapse;
    padding: 1rem;

    border-radius: 1.5rem;


  }

  .alert-danger{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.alert-success{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.registration-error-message{
    color:#721c24;
    border-style: solid;
    background-color:#f8d7da;
    border-color: #721c24;
    border-width: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;

    

}

.bookings-page{
    display: flex

}

.bookings-request{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    
}

.calendar-container{
    display: flex;
    justify-content: center;
    
}

#calendar{
    max-height: 48rem;
    width: 70%;
    border-style: solid;
    border-color: #424141;
    padding: 2rem;
    border-radius: 1.5rem;




}




  

   








